.flex-container {
    display:flex;
    flex-flow: row wrap;
}

.break {
    width:100%;
    flex-basis: 100%;
}

.item:before {
    content: "";
    display: block;
    padding-top: 100%;
    float: left;
}

.item {
    background-color: #00ffd2;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
