.flex-container {
    display:flex;
    flex-flow: row wrap;
    margin: 5%;
    justify-content: center;
}

.break {
    width:100%;
    flex-basis: 100%;
}

.item:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.mines-1 {
    color: #5296a5;
}

.mines-2 {
    color: #50723c;
}

.mines-3 {
    color: #d81159;
}

.mines-4 {
    color: #ffbc42;
}

.mines-5 {
    color: #218380;
}

.mines-6 {
    color: #685369;
}

.mines-7 {
    color: #8f2d56;
}

.mines-8 {
    color: #423e28
}

.clickable2 {
    box-shadow:inset 0px 2px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    border-radius:10px;
    cursor:pointer;
    color:#666666;
    font-weight:bold;
    text-decoration:none;
}
.clickable2:active {
    position:relative;
    top:2px;
    box-shadow:inset 0px 0px 0px 0px #ffffff;
}

.not-clickable2 {
    box-shadow:inset 0px 2px 0px 0px #ffffff;
    border-radius:10px;
    cursor:pointer;
    color:#666666;
    font-weight:bold;
    text-decoration:none;
    background:linear-gradient(to bottom, #f9f9f9 5%, #f9f9f9 100%);
}

.clickable {
    box-shadow:inset 0px 2px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color:#f9f9f9;
    border-radius:10px;
    border:2px solid #dcdcdc;
    cursor:pointer;
    color:#666666;
    font-weight:bold;
    text-decoration:none;
    height:2em;
    width:2em;
    margin-left: 1em;
    margin-right: 1em;
}

.not-clickable {
    box-shadow:inset 0px 2px 0px 0px #ffffff;
    border-radius:10px;
    cursor:pointer;
    color:#666666;
    font-weight:bold;
    text-decoration:none;
    background:linear-gradient(to bottom, #f9f9f9 5%, #f9f9f9 100%);
    height:2em;
    width:2em;
    margin-left: 1em;
    margin-right: 1em;
}
.clickable:active {
    position:relative;
    top:2px;
    box-shadow:inset 0px 0px 0px 0px #ffffff;
    background-color: #beebf6;
}

.clickable2.active {
    background-color: #beebf6;
}

.ongoing {
    background-color: #ffffff;
}

.won {
    background-color: #057F74;
}

.failed {
    background-color: #f4796b;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
