.flex-container {
    display:flex;
    flex-flow: row wrap;
    margin: 5%;
    justify-content: center;
}

.break {
    width:100%;
    flex-basis: 100%;
}

.item:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.clickable {
    border: 0.1em solid #2eebff;
}

.active {
    background-color: #beebf6;
}

.frozen {
    background-color: #aaaaaa;
}

.ongoing {
    background-color: #ffffff;
}

.won {
    background-color: #26f813;
}

.failed {
    background-color: #f30620;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
